<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>monFichier.log</file>
        <encoder>
            <pattern>%date %level %msg\n</pattern>
        </encoder>
    </appender>
    <logger name="fr.eni">
        <appender-ref ref="FILE">
        </appender-ref>
    </logger>
</configuration>